//! **************************************************************************
// Written by: Map P.68d on Fri Dec 04 00:11:16 2015
//! **************************************************************************

SCHEMATIC START;
COMP "PS2_clk" LOCATE = SITE "G14" LEVEL 1;
COMP "clk_50mhz" LOCATE = SITE "C9" LEVEL 1;
COMP "vga_rgb<0>" LOCATE = SITE "H14" LEVEL 1;
COMP "vga_rgb<1>" LOCATE = SITE "H15" LEVEL 1;
COMP "vga_rgb<2>" LOCATE = SITE "G15" LEVEL 1;
COMP "SW<0>" LOCATE = SITE "N17" LEVEL 1;
COMP "SW<1>" LOCATE = SITE "H18" LEVEL 1;
COMP "SW<2>" LOCATE = SITE "L14" LEVEL 1;
COMP "SW<3>" LOCATE = SITE "L13" LEVEL 1;
COMP "BTN<0>" LOCATE = SITE "H13" LEVEL 1;
COMP "BTN<1>" LOCATE = SITE "K17" LEVEL 1;
COMP "BTN<2>" LOCATE = SITE "D18" LEVEL 1;
COMP "BTN<3>" LOCATE = SITE "V4" LEVEL 1;
COMP "vga_hs" LOCATE = SITE "F15" LEVEL 1;
COMP "vga_vs" LOCATE = SITE "F14" LEVEL 1;
COMP "INT_STATE" LOCATE = SITE "E11" LEVEL 1;
COMP "INT_KBD" LOCATE = SITE "E12" LEVEL 1;
COMP "PS2_Data" LOCATE = SITE "G13" LEVEL 1;
NET "clk_50mhz_BUFGP/IBUFG" BEL "clk_50mhz_BUFGP/BUFG.GCLKMUX"
        USELOCALCONNECT;
PIN
        U3/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s3_init.ram/dpram.dp4x4.ram.A_pins<13>
        = BEL
        "U3/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s3_init.ram/dpram.dp4x4.ram.A"
        PINNAME CLKA;
PIN
        U3/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/s3_init.ram/dpram.dp4x4.ram.A_pins<13>
        = BEL
        "U3/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/s3_init.ram/dpram.dp4x4.ram.A"
        PINNAME CLKA;
PIN
        U3/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/s3_init.ram/dpram.dp4x4.ram.A_pins<13>
        = BEL
        "U3/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/s3_init.ram/dpram.dp4x4.ram.A"
        PINNAME CLKA;
PIN
        U3/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/s3_init.ram/dpram.dp4x4.ram.A_pins<13>
        = BEL
        "U3/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/s3_init.ram/dpram.dp4x4.ram.A"
        PINNAME CLKA;
PIN
        U3/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/s3_init.ram/dpram.dp4x4.ram.A_pins<13>
        = BEL
        "U3/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/s3_init.ram/dpram.dp4x4.ram.A"
        PINNAME CLKA;
PIN
        U3/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[8].ram.r/s3_init.ram/dpram.dp4x4.ram.A_pins<13>
        = BEL
        "U3/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[8].ram.r/s3_init.ram/dpram.dp4x4.ram.A"
        PINNAME CLKA;
PIN
        U3/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[9].ram.r/s3_init.ram/dpram.dp4x4.ram.A_pins<13>
        = BEL
        "U3/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[9].ram.r/s3_init.ram/dpram.dp4x4.ram.A"
        PINNAME CLKA;
PIN
        U3/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[11].ram.r/s3_init.ram/dpram.dp4x4.ram.A_pins<13>
        = BEL
        "U3/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[11].ram.r/s3_init.ram/dpram.dp4x4.ram.A"
        PINNAME CLKA;
PIN
        U3/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[10].ram.r/s3_init.ram/dpram.dp9x9.ram.A_pins<12>
        = BEL
        "U3/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[10].ram.r/s3_init.ram/dpram.dp9x9.ram.A"
        PINNAME CLKA;
PIN
        U3/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/s3_init.ram/dpram.dp9x9.ram.A_pins<12>
        = BEL
        "U3/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/s3_init.ram/dpram.dp9x9.ram.A"
        PINNAME CLKA;
PIN
        U3/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/s3_init.ram/dpram.dp9x9.ram.A_pins<12>
        = BEL
        "U3/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/s3_init.ram/dpram.dp9x9.ram.A"
        PINNAME CLKA;
PIN
        U3/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/s3_init.ram/dpram.dp9x9.ram.A_pins<12>
        = BEL
        "U3/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/s3_init.ram/dpram.dp9x9.ram.A"
        PINNAME CLKA;
PIN
        U11/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/s3_noinit.ram/dpram.dp4x4.ram.A_pins<13>
        = BEL
        "U11/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/s3_noinit.ram/dpram.dp4x4.ram.A"
        PINNAME CLKA;
PIN
        U11/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/s3_noinit.ram/dpram.dp4x4.ram.B_pins<13>
        = BEL
        "U11/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/s3_noinit.ram/dpram.dp4x4.ram.B"
        PINNAME CLKB;
PIN
        U11/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/s3_noinit.ram/dpram.dp4x4.ram.A_pins<13>
        = BEL
        "U11/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/s3_noinit.ram/dpram.dp4x4.ram.A"
        PINNAME CLKA;
PIN
        U11/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/s3_noinit.ram/dpram.dp4x4.ram.B_pins<13>
        = BEL
        "U11/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/s3_noinit.ram/dpram.dp4x4.ram.B"
        PINNAME CLKB;
PIN
        U11/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/s3_noinit.ram/dpram.dp4x4.ram.A_pins<13>
        = BEL
        "U11/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/s3_noinit.ram/dpram.dp4x4.ram.A"
        PINNAME CLKA;
PIN
        U11/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/s3_noinit.ram/dpram.dp4x4.ram.B_pins<13>
        = BEL
        "U11/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/s3_noinit.ram/dpram.dp4x4.ram.B"
        PINNAME CLKB;
PIN
        U11/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/s3_noinit.ram/dpram.dp4x4.ram.A_pins<13>
        = BEL
        "U11/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/s3_noinit.ram/dpram.dp4x4.ram.A"
        PINNAME CLKA;
PIN
        U11/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/s3_noinit.ram/dpram.dp4x4.ram.B_pins<13>
        = BEL
        "U11/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/s3_noinit.ram/dpram.dp4x4.ram.B"
        PINNAME CLKB;
PIN
        U11/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/s3_noinit.ram/dpram.dp4x4.ram.A_pins<13>
        = BEL
        "U11/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/s3_noinit.ram/dpram.dp4x4.ram.A"
        PINNAME CLKA;
PIN
        U11/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/s3_noinit.ram/dpram.dp4x4.ram.B_pins<13>
        = BEL
        "U11/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/s3_noinit.ram/dpram.dp4x4.ram.B"
        PINNAME CLKB;
PIN
        U11/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/s3_noinit.ram/dpram.dp4x4.ram.A_pins<13>
        = BEL
        "U11/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/s3_noinit.ram/dpram.dp4x4.ram.A"
        PINNAME CLKA;
PIN
        U11/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/s3_noinit.ram/dpram.dp4x4.ram.B_pins<13>
        = BEL
        "U11/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/s3_noinit.ram/dpram.dp4x4.ram.B"
        PINNAME CLKB;
PIN
        U11/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/s3_noinit.ram/dpram.dp4x4.ram.A_pins<13>
        = BEL
        "U11/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/s3_noinit.ram/dpram.dp4x4.ram.A"
        PINNAME CLKA;
PIN
        U11/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/s3_noinit.ram/dpram.dp4x4.ram.B_pins<13>
        = BEL
        "U11/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/s3_noinit.ram/dpram.dp4x4.ram.B"
        PINNAME CLKB;
PIN
        U11/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s3_noinit.ram/dpram.dp4x4.ram.A_pins<13>
        = BEL
        "U11/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s3_noinit.ram/dpram.dp4x4.ram.A"
        PINNAME CLKA;
PIN
        U11/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s3_noinit.ram/dpram.dp4x4.ram.B_pins<13>
        = BEL
        "U11/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s3_noinit.ram/dpram.dp4x4.ram.B"
        PINNAME CLKB;
TIMEGRP clk_50mhz = BEL "U6/r_ptr_2" BEL "U6/r_ptr_1" BEL "U6/r_ptr_0" BEL
        "U6/w_ptr_2" BEL "U6/w_ptr_1" BEL "U6/w_ptr_0" BEL "U6/count_3" BEL
        "U6/count_2" BEL "U6/count_1" BEL "U6/count_0" BEL
        "U6/Mram_fifo8.SLICEM_F" BEL "U6/Mram_fifo8.SLICEM_G" BEL
        "U6/Mram_fifo7.SLICEM_F" BEL "U6/Mram_fifo7.SLICEM_G" BEL
        "U6/Mram_fifo6.SLICEM_F" BEL "U6/Mram_fifo6.SLICEM_G" BEL
        "U6/Mram_fifo5.SLICEM_F" BEL "U6/Mram_fifo5.SLICEM_G" BEL
        "U6/Mram_fifo4.SLICEM_F" BEL "U6/Mram_fifo4.SLICEM_G" BEL
        "U6/Mram_fifo3.SLICEM_F" BEL "U6/Mram_fifo3.SLICEM_G" BEL
        "U6/Mram_fifo1.SLICEM_F" BEL "U6/Mram_fifo1.SLICEM_G" BEL
        "U6/Mram_fifo2.SLICEM_F" BEL "U6/Mram_fifo2.SLICEM_G" BEL
        "U6/buffer_9" BEL "U6/buffer_8" BEL "U6/buffer_6" BEL "U6/buffer_5"
        BEL "U6/buffer_7" BEL "U6/buffer_4" BEL "U6/buffer_3" BEL
        "U6/buffer_1" BEL "U6/buffer_0" BEL "U6/buffer_2" BEL
        "U6/ps2_clk_sync_1" BEL "U6/ps2_clk_sync_0" BEL "U12/U12_1/mod2_reg"
        BEL "U12/U12_1/h_count_reg_9" BEL "U12/U12_1/h_count_reg_8" BEL
        "U12/U12_1/h_count_reg_7" BEL "U12/U12_1/h_count_reg_6" BEL
        "U12/U12_1/h_count_reg_5" BEL "U12/U12_1/h_count_reg_4" BEL
        "U12/U12_1/h_count_reg_3" BEL "U12/U12_1/h_count_reg_2" BEL
        "U12/U12_1/h_count_reg_1" BEL "U12/U12_1/h_count_reg_0" BEL
        "U3/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/has_mux_a.A/sel_pipe_0"
        BEL
        "U3/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/has_mux_a.A/sel_pipe_1"
        PIN
        "U3/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s3_init.ram/dpram.dp4x4.ram.A_pins<13>"
        PIN
        "U3/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/s3_init.ram/dpram.dp4x4.ram.A_pins<13>"
        PIN
        "U3/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/s3_init.ram/dpram.dp4x4.ram.A_pins<13>"
        PIN
        "U3/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/s3_init.ram/dpram.dp4x4.ram.A_pins<13>"
        PIN
        "U3/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/s3_init.ram/dpram.dp4x4.ram.A_pins<13>"
        PIN
        "U3/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[8].ram.r/s3_init.ram/dpram.dp4x4.ram.A_pins<13>"
        PIN
        "U3/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[9].ram.r/s3_init.ram/dpram.dp4x4.ram.A_pins<13>"
        PIN
        "U3/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[11].ram.r/s3_init.ram/dpram.dp4x4.ram.A_pins<13>"
        PIN
        "U3/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[10].ram.r/s3_init.ram/dpram.dp9x9.ram.A_pins<12>"
        PIN
        "U3/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/s3_init.ram/dpram.dp9x9.ram.A_pins<12>"
        PIN
        "U3/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/s3_init.ram/dpram.dp9x9.ram.A_pins<12>"
        PIN
        "U3/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/s3_init.ram/dpram.dp9x9.ram.A_pins<12>"
        BEL "U8/clkdiv_0" BEL "U8/clkdiv_1" BEL "U8/clkdiv_2" BEL
        "U8/clkdiv_3" BEL "U8/clkdiv_4" BEL "U8/clkdiv_5" BEL "U8/clkdiv_6"
        BEL "U8/clkdiv_7" BEL "U8/clkdiv_8" BEL "U8/clkdiv_9" BEL
        "U8/clkdiv_10" BEL "U8/clkdiv_11" BEL "U8/clkdiv_12" BEL
        "U8/clkdiv_13" BEL "U8/clkdiv_14" BEL "U8/clkdiv_15" BEL
        "U8/clkdiv_16" BEL "U8/clkdiv_17" BEL "U8/clkdiv_18" BEL
        "U8/clkdiv_19" BEL "U8/clkdiv_20" BEL "U8/clkdiv_21" BEL
        "U8/clkdiv_22" BEL "U8/clkdiv_23" BEL "U8/clkdiv_24" BEL
        "U9/sw_temp_0" BEL "U9/sw_temp_1" BEL "U9/sw_temp_2" BEL
        "U9/sw_temp_3" BEL "U9/sw_temp_4" BEL "U9/sw_temp_5" BEL
        "U9/sw_temp_6" BEL "U9/sw_temp_7" BEL "U9/button_out_0" BEL
        "U9/button_out_1" BEL "U9/button_out_2" BEL "U9/button_out_3" BEL
        "U9/SW_OK_0" BEL "U9/SW_OK_1" BEL "U9/SW_OK_2" BEL "U9/SW_OK_3" BEL
        "U9/btn_temp_0" BEL "U9/btn_temp_1" BEL "U9/btn_temp_2" BEL
        "U9/btn_temp_3" BEL "U9/rst" BEL "U9/rst_counter_0" BEL
        "U9/rst_counter_1" BEL "U9/rst_counter_2" BEL "U9/rst_counter_3" BEL
        "U9/rst_counter_4" BEL "U9/rst_counter_5" BEL "U9/rst_counter_6" BEL
        "U9/rst_counter_7" BEL "U9/rst_counter_8" BEL "U9/rst_counter_9" BEL
        "U9/rst_counter_10" BEL "U9/rst_counter_11" BEL "U9/rst_counter_12"
        BEL "U9/rst_counter_13" BEL "U9/rst_counter_14" BEL
        "U9/rst_counter_15" BEL "U9/rst_counter_16" BEL "U9/rst_counter_17"
        BEL "U9/rst_counter_18" BEL "U9/rst_counter_19" BEL
        "U9/rst_counter_20" BEL "U9/rst_counter_21" BEL "U9/rst_counter_22"
        BEL "U9/rst_counter_23" BEL "U9/rst_counter_24" BEL
        "U9/rst_counter_25" BEL "U9/rst_counter_26" BEL "U9/rst_counter_27"
        BEL "U9/rst_counter_28" BEL "U9/rst_counter_29" BEL
        "U9/rst_counter_30" BEL "U9/rst_counter_31" BEL "U9/counter_0" BEL
        "U9/counter_1" BEL "U9/counter_2" BEL "U9/counter_3" BEL
        "U9/counter_4" BEL "U9/counter_5" BEL "U9/counter_6" BEL
        "U9/counter_7" BEL "U9/counter_8" BEL "U9/counter_9" BEL
        "U9/counter_10" BEL "U9/counter_11" BEL "U9/counter_12" BEL
        "U9/counter_13" BEL "U9/counter_14" BEL "U9/counter_15" BEL
        "U9/counter_16" BEL "U9/counter_17" BEL "U9/counter_18" BEL
        "U9/counter_19" BEL "U9/counter_20" BEL "U9/counter_21" BEL
        "U9/counter_22" BEL "U9/counter_23" BEL "U9/counter_24" BEL
        "U9/counter_25" BEL "U9/counter_26" BEL "U9/counter_27" BEL
        "U9/counter_28" BEL "U9/counter_29" BEL "U9/counter_30" BEL
        "U9/counter_31" PIN
        "U11/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/s3_noinit.ram/dpram.dp4x4.ram.A_pins<13>"
        PIN
        "U11/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/s3_noinit.ram/dpram.dp4x4.ram.B_pins<13>"
        PIN
        "U11/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/s3_noinit.ram/dpram.dp4x4.ram.A_pins<13>"
        PIN
        "U11/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/s3_noinit.ram/dpram.dp4x4.ram.B_pins<13>"
        PIN
        "U11/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/s3_noinit.ram/dpram.dp4x4.ram.A_pins<13>"
        PIN
        "U11/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/s3_noinit.ram/dpram.dp4x4.ram.B_pins<13>"
        PIN
        "U11/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/s3_noinit.ram/dpram.dp4x4.ram.A_pins<13>"
        PIN
        "U11/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/s3_noinit.ram/dpram.dp4x4.ram.B_pins<13>"
        PIN
        "U11/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/s3_noinit.ram/dpram.dp4x4.ram.A_pins<13>"
        PIN
        "U11/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/s3_noinit.ram/dpram.dp4x4.ram.B_pins<13>"
        PIN
        "U11/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/s3_noinit.ram/dpram.dp4x4.ram.A_pins<13>"
        PIN
        "U11/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/s3_noinit.ram/dpram.dp4x4.ram.B_pins<13>"
        PIN
        "U11/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/s3_noinit.ram/dpram.dp4x4.ram.A_pins<13>"
        PIN
        "U11/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/s3_noinit.ram/dpram.dp4x4.ram.B_pins<13>"
        PIN
        "U11/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s3_noinit.ram/dpram.dp4x4.ram.A_pins<13>"
        PIN
        "U11/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s3_noinit.ram/dpram.dp4x4.ram.B_pins<13>"
        BEL "clk_50mhz_BUFGP/BUFG.GCLKMUX" BEL "clk_50mhz_BUFGP/BUFG";
NET "clk_50mhz_BUFGP/IBUFG" PERIOD = 20 ns HIGH 50%;
SCHEMATIC END;

